body{
	background: #fff;
}

.main-image{
margin-top: 0;
height:400px;
max-width:100%;
display: block;
text-align: center;
margin-bottom: 10px;
}

#guess-box{
	text-align: left;
	padding: 20px 30px;
	display: block;
}

#answer-box{
	border: 3px solid transparent;
	border-color: black;
	display: block;
}