body{
	background: #fff;
}

.main-image{
margin-top: 0;
height:400px;
max-width:100%;
display: block;
text-align: center;
margin-bottom: 10px;
}

#guess-box{
	text-align: left;
	padding: 20px 30px;
	display: block;
}

#myTextField{
	display: none;
}

#answer-box{
	border: 3px solid transparent;
	border-color: black;
	display: block;
}

@media (min-width:768px) and (max-width: 1024px) {
	#myTextField{
		border: 1x solid;
		border-color:black;
		display: block;
		text-align: center;
		position: absolute;
		left:-25px
	}
}
@media (max-width: 767px) {
	#myTextField{
		border: 1x solid;
		border-color:black;
		display: block;
		text-align: center;
	}
}